.ordersTable {
    background: var(--bg-darker) !important;
    color: var(--text-light) !important;
  }
  
  .ordersStatusPending {
    color: orange;
  }
  
  .ordersStatusCompleted {
    color: lightgreen;
  }
  