.usersTable {
    background: var(--bg-darker) !important;
    color: var(--text-light) !important;
  }
  
  .userRoleAdmin {
    color: var(--primary-light);
  }
  
  .userRoleCustomer {
    color: var(--text-muted);
  }
  