files:
  "/etc/systemd/system/xray.service":
    mode: "000644"
    owner: "root"
    group: "root"
    content: |
      [Unit]
      Description=AWS X-Ray Daemon
      After=network.target
      [Service]
      ExecStart=/usr/bin/xray -o -n ap-southeast-1
      Restart=always
      [Install]
      WantedBy=multi-user.target
commands:
  start_xray:
    command: systemctl enable xray.service && systemctl start xray.service